<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Anwar College Website">
    <meta name="author" content="Ganiyu Sodiq">
    <meta name="keywords" content="School, College enrolment, College, College admission">
    <title>Admission</title>
    
    <!--bootsrap -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--font awesome-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!--Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Ubuntu&display=swap" rel="stylesheet">

    <!--JS and JQuery-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--CSS link-->
    <link rel="stylesheet" href="css/admission.css">
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="heading-picture">
        <img src="images/picture5.jpg" alt="">
        <h1 class="heading"><span style="color: white;"> SCHOOL </span><span style="color: blue;">ADMISSION</span></h1>
    </div>
    
    <section id="admission">
        <div class="row">
            <div class="col-lg-4 admission-policy">
                <h3>ADMISSION POLICY</h3>
                <p>Students are admitted into the JSS1 and SSS1 classes through the annual entrance examination. All applicants must pay a non-refundable application fee and complete the applicaton form
                <br> Admission of students is strictly by the applicant’s age, proven ability and level of maturity at the time of application. Positive past records in former school(s) or college(s) are assets to any applicant
                <br> Complete our e-admission form process in three simple steps.</p>
                <p>1. Click on the image below to download the form in PDF format. <br>2. Print out the form and fill it our clearly and concisely in ink <br> 3.Submit the form with a registration fee of N10,000 to,</p>
                <p>The Principal, <br> The Anwar College<br>23A, Adetokunbo Ademola Road Iyaganku GRA<br>Lagos, Nigeria.</p>
                <p>For directions to the school,<br>Tel: 02-7514579 or 08055114257<br>Email: anwar_college@yahoo.com</p>
            </div>

            <div class="col-lg-4 admission-form">
                <h3>ADMISSION FORM</h3>
                <div class="inner-content">
                    <p>Please download our Admission Form Below.</p>
                    <a href="images/post-utme.pdf">
                        <img src="images/pdf-img.png" alt="">
                    </a>
                </div>
    
                <div class="inner-content">
                    <p>Please download TVTC FORM below.</p>
                    <a href="images/post-utme.pdf">
                        <img src="images/pdf-img.png" alt="">
                    </a>
                </div>
    
                <div class="inner-content">
                    <p>Download Student Handbook.</p>
                    <a href="images/post-utme.pdf">
                        <img src="images/pdf-img.png" alt="">
                    </a>
                </div>
            </div>

            <div class="col-lg-4 admission-portal">
                <div class=portal-inner>
                    <h3>ADMISSION PORTAL</h3>
                    <P>Parents can choose to complete all admission process online by using our admission portal here. Please use the form below to get started.</P>
                    <a href="/login"><strong>>> LOGIN HERE</strong></a>
    
                    <div class="">
                        <div class="form-header">
                            <% var obj = errors %>
                            <% if(Object.keys(obj).length === 0){ %>
                                <h3>Register here</h3>
                            <% }else{ %>
                                <h2 class="errors-heading">Oops, please correct the following:</h2>
                                <ul class="errors-list">
                                    <%for(x of obj["errors"]){%>
                                        <li style="color: #CF4A51;"><%= x.msg %> </li>
                                    <%}%>
                                </ul>
                            <% } %>

                            <p style="color: #CF4A51;"><%= mailError %></p>

                            
                        </div>
                        <form class="" action="admission" method="POST" novalidate>
                            <div class="form-field <%= obj.parentName ? 'form-field-invalid' : '' %> ">
                                <input type="text"  name="parentName" class="form-control" placeholder="PARENT NAME" value= "<%= data.parentName%>" >
                                <%for(x in obj["errors"]){%>
                                    <%if(x.param == "parentName"){%>
                                        <p style="color: #CF4A51;"><%= x.param %> <p>
                                    <%}%>
                                    
                                <%}%>
                                
                            </div>
                            <div class="form-field <%= obj.studentName ? 'form-field-invalid' : '' %> ">
                                <input type="text"  name="studentName" class="form-control" placeholder="STUDENT NAME" value="<%= data.studentName%>">
                                
                            </div>
                            <div class="form-field <%= obj.telephone ? 'form-field-invalid' : '' %> ">
                                <input type="text"  name="telephone" class="form-control" placeholder="TELEPHONE" value="<%= data.telephone %>">
                                
                            </div>
                            <div class="form-field <%= obj.email ? 'form-field-invalid' : '' %> ">
                                <input type="email"  aria-describedby="emailHelp" name="email" class="form-control" placeholder="EMAIL" value="<%= data.telephone%>">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                
                            </div>
                            <div class="form-field <%= errors.password ? 'form-field-invalid' : '' %> ">
                                <input type="password" name="password" class="form-control" placeholder="PASSWORD" value="<%= data.password %>">
                                <%if(errors.password){%>
                                    <div style="color: #CF4A51;" class="error"><%= errors.password.msg %>  </div>
                                <%}%>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">START REGISTRATION</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <hr>
    </section>
    
    
    <%- include("partials/footer") %>